* {

    box-sizing: border-box;
  }
  

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Lato', sans-serif;
    line-height: 1.15;
}

body{
    background-color: #F4F9F4;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}

/* MAIN HEADER */

.logo{
    background-color: #b2d5b2;
    text-align: center;
    position: relative;
    color: white;
    width: 100%;
    display: block;
    padding: 10px;
    letter-spacing: 5px;
   
    
}

.logo:visited{
    color: white;
}

/* NAV BAR */
 ul{
    text-align: center;
    padding-top: .5em;
    margin-top: 0;
    margin-bottom: 4rem;
    color: black;
    display: block;
    list-style-type: none;
    text-transform: uppercase;
    padding-right: 10%;
    
} 


li{
    padding: 15px;
}



/************ BODY ****************/

/* Main IMG */
img{
    width: 100%;
    height: auto;

}   
 /**Header  */
 .main-hello{
     font-weight: 300;
     margin: 1.5rem;
     text-align: center;
     color: #F96D00;
 }

 .main-p {
     font-weight: 300;
     font-size: 1.25rem;
     margin: 1.5rem;
     padding-left: 15px;
     padding-right: 15px;
     display: inline-block;
     text-align: center;
     line-height: 1.5;
     vertical-align: middle;
  
 }



  /* ****** FOOTER ************ */
 /* Icons */
 .contact-buttons {
     font-size: 1.73em;
     display: flex;
     margin: 10px 25px 25px 25px;
 }

 .icon{
    margin:auto;
    
 }

 .icon:link {
     color: #F96D00;
 }

 .icon:visited {
     color: #F96D00;
 }

 .dc:link, .dc:visited {
     color: #F96D00; 
 }