* {

    box-sizing: border-box;
  }
  

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Lato', sans-serif;
    line-height: 1.15;
}

body{
    background-color: #F4F9F4;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}

/* MAIN HEADER */

.logo{
    background-color: #b2d5b2;
    text-align: center;
    position: relative;
    color: white;
    width: 100%;
    display: block;
    padding: 10px;
    letter-spacing: 5px;
    
}

 ul{
    text-align: center;
    padding-top: .5em;
    margin-top: 0;
    margin-bottom: 4rem;
    color: black;
    display: block;
    list-style-type: none;
    text-transform: uppercase;
    padding-right: 10%;
    
}

li{
    padding: 15px;
}

img{
    width: 100%;
    height: auto;
    
}    
